# 作業 : (Kaggle)鐵達尼生存預測
***
https://www.kaggle.com/c/titanic

# 作業1
* 試著使用鐵達尼號的例子，創立兩種以上的群聚編碼特徵( mean、median、mode、max、min、count 均可 )

In [1]:
# 做完特徵工程前的所有準備 (與前範例相同)
import pandas as pd
import numpy as np
import copy
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

data_path = 'C:/Users/kai/data/'
df = pd.read_csv(data_path + 'titanic_train.csv')

train_Y = df['Survived']
df = df.drop(['PassengerId', 'Survived','Cabin'] , axis=1)
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S

In [2]:
df['Age']=df['Age'].fillna(df['Age'].mode())
df['Embarked']=df['Embarked'].fillna('S')

In [3]:
# 取一個類別型欄位, 與一個數值型欄位, 做群聚編碼
mean_temp=df.groupby(['Embarked'])['Age'].mean().reset_index()
mode_temp=df.groupby(['Embarked'])['Age'].apply(lambda x: x.mode()[0]).reset_index()
max_temp=df.groupby(['Embarked'])['Age'].max().reset_index()

temp=pd.merge(mean_temp,mode_temp,how='left',on='Embarked').reset_index()
temp=pd.merge(temp,max_temp,how='left',on='Embarked').reset_index()
temp=temp.drop(['index','level_0'],axis=1)
temp.columns=['Embarked','Age_mean','Age_mode','Age_max']
temp

  Embarked   Age_mean  Age_mode  Age_max
0        C  30.814769      24.0     71.0
1        Q  28.089286      16.0     70.5
2        S  29.519335      24.0     80.0

In [4]:
newdf=pd.merge(df,temp,how='left',on='Embarked').reset_index()
newdf

,index,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,Age_mean,Age_mode,Age_max
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S,29.519335,24.0,80.0
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C,30.814769,24.0,71.0
2,2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S,29.519335,24.0,80.0
3,3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S,29.519335,24.0,80.0
4,4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S,29.519335,24.0,80.0
5,5,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,Q,28.089286,16.0,70.5
6,6,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,S,29.519335,24.0,80.0
7,7,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,S,29.519335,24.0,80.0
8,8,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,S,29.519335,24.0,80.0
9,9,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,C,30.814769,24.0,71.0
10,10,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,S,29.519335,24.0,80.0
11,11,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,S,29.519335,24.0,80.0
12,12,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,S,29.519335,24.0,80.0
13,13,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,S,29.519335,24.0,80.0
14,14,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,S,29.519335,24.0,80.0
15,15,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,S,29.519335,24.0,80.0
16,16,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,Q,28.089286,16.0,70.5
17,17,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,S,29.519335,24.0,80.0
18,18,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,S,29.519335,24.0,80.0
19,19,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,C,30.814769,24.0,71.0
20,20,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,S,29.519335,24.0,80.0
21,21,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,S,29.519335,24.0,80.0
22,22,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,Q,28.089286,16.0,70.5
23,23,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,S,29.519335,24.0,80.0
24,24,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,S,29.519335,24.0,80.0
25,25,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,S,29.519335,24.0,80.0
26,26,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,C,30.814769,24.0,71.0
27,27,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,S,29.519335,24.0,80.0
28,28,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,Q,28.089286,16.0,70.5
29,29,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,S,29.519335,24.0,80.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,861,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,S,29.519335,24.0,80.0
862,862,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,S,29.519335,24.0,80.0
863,863,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,S,29.519335,24.0,80.0
864,864,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,S,29.519335,24.0,80.0
865,865,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,S,29.519335,24.0,80.0
866,866,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,C,30.814769,24.0,71.0
867,867,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,S,29.519335,24.0,80.0
868,868,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,S,29.519335,24.0,80.0
869,869,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,S,29.519335,24.0,80.0
870,870,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,S,29.519335,24.0,80.0
871,871,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,S,29.519335,24.0,80.0
872,872,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,S,29.519335,24.0,80.0
873,873,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,S,29.519335,24.0,80.0
874,874,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,C,30.814769,24.0,71.0
875,875,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,C,30.814769,24.0,71.0
876,876,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,S,29.519335,24.0,80.0
877,877,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,S,29.519335,24.0,80.0
878,878,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,S,29.519335,24.0,80.0
879,879,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C,30.814769,24.0,71.0
880,880,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,S,29.519335,24.0,80.0
881,881,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,S,29.519335,24.0,80.0
882,882,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,S,29.519335,24.0,80.0
883,883,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,S,29.519335,24.0,80.0
884,884,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,S,29.519335,24.0,80.0
885,885,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,Q,28.089286,16.0,70.5
886,886,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,S,29.519335,24.0,80.0
887,887,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,S,29.519335,24.0,80.0
888,888,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,S,29.519335,24.0,80.0
889,889,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C,30.814769,24.0,71.0
890,890,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,Q,28.089286,16.0,70.5

In [5]:
#只取 int64, float64 兩種數值型欄位, 存於 num_features 中
old_features = []
new_features = []
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'float64' or dtype == 'int64':
        old_features.append(feature)
        
for dtype, feature in zip(newdf.dtypes, newdf.columns):
    if dtype == 'float64' or dtype == 'int64':
        new_features.append(feature)
print(f'{len(old_features)} Numeric Features : {old_features}\n')
print(f'{len(new_features)} Numeric Features : {new_features}\n')
# 削減文字型欄位, 只剩數值型欄位
df = df[old_features]
df = df.fillna(-1)
MMEncoder = MinMaxScaler()
#df.head()
newdf=newdf[new_features]
newdf =newdf.fillna(-1)
newdf.head()

5 Numeric Features : ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

9 Numeric Features : ['index', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Age_mean', 'Age_mode', 'Age_max']

   index  Pclass   Age  SibSp  Parch     Fare   Age_mean  Age_mode  Age_max
0      0       3  22.0      1      0   7.2500  29.519335      24.0     80.0
1      1       1  38.0      1      0  71.2833  30.814769      24.0     71.0
2      2       3  26.0      0      0   7.9250  29.519335      24.0     80.0
3      3       1  35.0      1      0  53.1000  29.519335      24.0     80.0
4      4       3  35.0      0      0   8.0500  29.519335      24.0     80.0

# 作業2
* 將上述的新特徵，合併原有的欄位做生存率預估，結果是否有改善?

In [6]:
# 原始特徵 + 邏輯斯迴歸
"""
Your Code Here
"""
MMEncoder=MinMaxScaler()
train_X=MMEncoder.fit_transform(df)
RE=LogisticRegression()
cross_val_score(RE, train_X, train_Y, cv=5).mean()

0.7038635542329971

In [7]:
# 新特徵 + 邏輯斯迴歸
MMEncoder=MinMaxScaler()
train_X=MMEncoder.fit_transform(newdf)
RE=LogisticRegression()
cross_val_score(RE, train_X, train_Y, cv=5).mean()

0.6914785407550287